<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq.Properties.Settings.OrdersDBConnectionString"
            connectionString="Data Source=MIKKEL\SQLEXPRESS;Initial Catalog=OrdersDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Linq.Properties.Settings.OrderDBConnectionString"
            connectionString="Data Source=lfjcv2nku8.database.windows.net;Initial Catalog=OrderDB;User ID=Znow;Password=Test1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>